<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
    <style>
      .card-card-text-hidden {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .card-wrapper {
        max-width: 400px;
        min-height: 300px;
        cursor: pointer;
        box-shadow: rgba(188, 196, 219, 0.77) 5px 5px 13px 0px;
      }
      .card-wrapper:hover {
        opacity: 0.5;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <div class="h5 text-white text-decoration-none">Album</div>
      </div>
    </nav>

    <div class="d-flex flex-wrap justify-content-center mt-5">
      <%locals.data.forEach(li => { %>
      <div  class="card-wrapper card bg-light m-5">
        <div
          class="card-header text-white bg-primary d-flex flex-column justify-content-center align-items-center"
          style="min-height: 70px; min-width: 400px"
        >
          <%=li.id%>
        </div>
        <div class="card-body">
          <p class="card-text-body card-text card-text-hidden"><%=li.title%></p>
        </div>
      </div>
      <% }) %>
    </div>

    <nav aria-label="...">
      <ul class="pagination">
        <% if(Number(page) === 1) {%>
        <li class="page-item disabled">
          <span class="page-link">Previous</span>
        </li>
        <% } else { %>
        <li class="page-item">
          <a class="page-link" href="?page=<%=Number(page)-1%> ">Previous</a>
        </li>
        <% } %> <% for(let i=1; i<= Math.floor(count/9) +1; i++){ %> <% if( i===
        Number(page)){ %>
        <li class="page-item active" aria-current="page">
          <span class="page-link"><%=i%></span>
        </li>
        <%} else {%>
        <li class="page-item">
          <a class="page-link" href="/?page=<%=i%>"><%=i%></a>
        </li>
        <%}%> <% }%> <% if(Number(page) === Math.floor(count/9) +1) {%>
        <li class="page-item disabled">
          <span class="page-link">Next</span>
        </li>
        <% } else { %>
        <li class="page-item">
          <a class="page-link" href="?page=<%=Number(page)+1%> ">Next</a>
        </li>
        <% } %>
      </ul>
    </nav>
  </body>
</html>
